
form{
  display: flex;
  flex-direction: row;
  height: 100%;
  width:  1160px;
  justify-content: center;
  background-color: #ade8f4;
  align-items: center;
  flex-wrap:nowrap;
}

.Login{
  height: 400px;
  width: 400px;
  display: grid;
  justify-content: center;
  font-family: "Convergence",sans-serif;
  font-size: 1.2rem;
  background-color: #ade8f4;
}
  
.box{
  width: 320px;
  height: 60px;
}

.form{
  position: relative;
  width: 20rem;
  height: 3rem;
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #4cc9f0;
  border-radius: 0.5rem;
  font-family: inherit;
  color: white;
  outline: none;
  padding: 1.25rem;
  background: none;
}

.boxer input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #4cc9f0;
  border-radius: 0.5rem;
  padding: 14px 40px;
  font-family: inherit;
  color: #4cc9f0;
  outline: none;
  transition: 0.4s linear;
  cursor: pointer;
  text-transform: uppercase;
}
.boxer input[type="submit"]:hover{
  background: #0077b6;
  width: 160px;

}
.form:hover{
  border-color: #61dafb;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding:0 0.5rem;
  color:#4cc9f0;
  cursor:text;
  transition: top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;
  background-color: #ade8f4;
}
.form__input:focus~.form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus)~.form__label{
  top:-0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}