.slider1 {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ade8f4;
}

.image1 {
  width: 180px;
  height: 180px;
  border-radius: 20px;
}

.right-arrow {
  position: absolute;
  top: 42%;
  right: 20px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 42%;
  left: 20px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide1 {
  height: 300px;
  width: 180px;
  opacity: 0;
  transition-duration: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide1.active {
  height: 180px;
  width: 180px;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.portfoliotext{
  position: absolute;
  top: 50%;
  left: 43%;
}
a{
  height: 180px;
  width: 180px;
}