.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #168aad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --black:#4cc9f0;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --ff-pri: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --clr-pri-1: #168aad;
    --clr-pri-2:hsl(205, 100%, 63%);
    --spacing: 0.25rem;
    --radius: 1rem;
    --fixed-width: 620px;
}
.btn{
    border-radius: 0.5rem;
    text-transform: uppercase;
    background: transparent;
    font-size: 1rem;
    padding: 15px;
    letter-spacing: 5px;
    border: 2px solid var(--black);
    transition: 0.3s linear;
    color: #4cc9f0;
}
.btn:hover{
  color: var(--white);
  background-color: var(--black);
}
.btn-hero{
  font-size: 15px;
  font-weight: 600;
  font-family: var(--ff-secondary);
}

.container{
    text-align: center;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row{
  height: 100vh;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1e6091;
  align-items: center;
  flex-wrap:nowrap;
}

.Login{
  font-family: "Convergence",sans-serif;
  font-size: 1.2rem;
  background-color: #1e6091;
}

.box{
  width: 320px;
  height: 60px;
}

.form{
  position: relative;
  width: 20rem;
  height: 3rem;
}
.form__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #4cc9f0;
  border-radius: 0.5rem;
  font-family: inherit;
  color: white;
  outline: none;
  padding: 1.25rem;
  background: none;
}

.boxer input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #4cc9f0;
  border-radius: 0.5rem;
  padding: 14px 40px;
  font-family: inherit;
  color: #4cc9f0;
  outline: none;
  transition: 0.4s linear;
  cursor: pointer;
  text-transform: uppercase;
}
.boxer input[type="submit"]:hover{
  background: #0077b6;
  width: 160px;

}
.form:hover{
  border-color: #61dafb;
}
.form__label{
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding:0 0.5rem;
  color:#4cc9f0;
  cursor:text;
  transition: top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;
  background-color: #1e6091;
}
.form__input:focus~.form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus)~.form__label{
  top:-0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.img-slider{
  display: flex;
  left: 0;
  align-items: center;
  transition: -7s;
  background-color:#4d908e;
  height: 200px;
  width: 200px;
  flex-direction: row;
  justify-content: center;
  flex-wrap:nowrap;
}
.slides-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 30px;
}
.img1{
  position: relative;
  width: 200px;
  height: 200px;
  transition: .5s;
  filter: saturate(10%);
}
.img2{
  position: relative;
  width: 200px;
  height: 200px;
  transition: .5s;
  filter: saturate(10%);
}

.button1{
  position: absolute;
  width: 200px;
  height: 200px;
  transition: .5s;
  background-color: rgba(255, 255, 255, 0);
}
.button1:hover{
  background-color: #43aa8b;
  background-image: url("mmakick.gif");
  background-position: center;
}
.button2{
  position: absolute;
  width: 200px;
  height: 200px;
  transition: .5s;
  background-color: rgba(255, 255, 255, 0);
}
.button2:hover{
  background-color: #43aa8b;
  background-image: url("runback.gif");
  background-position: center;
}

h4{
    line-height: 1;
    color: var(--clr-pri-2);
    letter-spacing: var(--spacing);
    font-weight: 300;
}

main{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    background-color: #184e77;
}
.color{
    color: rgb(255, 145, 0);
}


h1{
    font-size: 40px;
    color:#4cc9f0
}

.size{
    font-size: 60px;
    color: #4cc9f0;
}
.text-green{
  color: rgb(110, 167, 45);
}
.text-red{
  color: rgb(197, 60, 60);
}
.text-black{
  color: #4cc9f0;
}